@use "/styles/value" as *;

.Fetching {
  @include GridFrame();

  &,
  * {
    pointer-events: none
  }

  >.Cers {
    z-index: 1;
  }

  .Cers {
    @include GridFrame();

    .cer {
      @include FlexCenter2();

      .Scale {
        transform: scale(0);
        opacity: 0;
        filter: blur(10px);

        .Mri {
          .C {
            aspect-ratio: 1;
            clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%);
            border: 0 solid Color();
            border-radius: 50%;
            animation: linear LoadingRotate;
            animation-iteration-count: infinite;
          }
        }
      }

      &:nth-child(even) {
        .Scale {
          .Mri {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }

  .Line {
    $size : 20px;
    $p1: calc(50% + calc($size / 2));
    $p2: calc(50% - calc($size / 2));

    $skew : -10deg;
    $scale : 1.1;

    clip-path: polygon(0 $p2, 100% $p2, 100% $p1, 0 $p1);
    z-index: 2;
    @include GridFrame();
    background-color: Color();
    transform: skewX($skew) scaleX($scale);
    $cerTransform: skewX(calc(-1 * $skew)) scaleX(calc(1 / $scale));
    opacity: 0;

    >.Cers {
      z-index: 1;
      transform: $cerTransform;
    }

    .Fill {
      z-index: 2;
    }

    .C {
      border-color: Color(.2) !important;
    }

    .Fill {
      animation: cubic-bezier(.33, .06, 0, 1) LoadingFillClip;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      @include GridFrame();
      background-color: Color(.2);

      >.Cers {
        transform: $cerTransform;
        filter: drop-shadow(0 0 10px Color(.4));
      }

      .C {
        border-color: Color(.5) !important;
      }
    }
  }

  &.START {
    .Cers {
      .cer {
        .Scale {
          filter: none;
          opacity: 1;
          transform: scale(1);
          transition: 2s cubic-bezier(0, 1, 0, 1);
        }
      }
    }

    .Line {
      opacity: 1;
    }
  }
}

@keyframes LoadingRotate {
  from {
    transform: rotateZ(360deg);
  }

  to {
    transform: rotateZ(0deg);
  }
}

@keyframes LoadingFillClip {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  20% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}