@use "/styles/value" as *;

$top-left-time: .5s cubic-bezier(0, .5, 0, 1);

$top-left-transition: top $top-left-time, left $top-left-time;

#menu {
  z-index: 999999;
  transition: all .5s cubic-bezier(1, 0, 0, 1), $top-left-transition;
  position: fixed;
  transform: scale(1.1);
  opacity: 0;
  filter: blur(10px);
  display: grid;
  width: auto;
  background-color: Color(.1, .3);
  backdrop-filter: $blur-effect;
  border-radius: 5px;
  box-shadow: 5px 5px 20px Color(.1,.3);
  overflow: hidden;
  padding: 10px 0;
  pointer-events: none;

  button {
    padding: 5px 10px;
    background: none;
    border: none;
    display: flex;
    align-items: center;

    .hotkey {
      margin-left: auto;
      color: LightColor(.8, .5);
      padding-left: 20px;
    }

    .name {
      color: LightColor(.8);
    }

    svg {
      margin-right: 5px;
      fill: LightColor(.8);
    }

    &:hover {
      background-color: LightColor(.8, .1);

      .hotkey {
        margin-left: auto;
        color: Color(1, .5);
      }

      .name {
        color: Color();
      }

      svg {
        margin-right: 5px;
        fill: Color();
      }
    }

    &:active {
      background-color: Color(.8, .1);

      .hotkey {
        margin-left: auto;
        color: Color(.5, .5);
      }

      .name {
        color: Color(.5);
      }

      svg {
        margin-right: 5px;
        fill: Color(.5);
      }
    }
  }

  .ClipLine {
    height: 2px;
    margin: 5px 8px;
    background-color: Color(.3);
  }

  &.show {
    transition: all .5s cubic-bezier(1, 0, 0, 1), $top-left-transition;
    opacity: 1;
    filter: none;
    transform: none;
    pointer-events: all;
  }
}