@use "/styles/value" as *;

.window {
  z-index: 1;
  @include Freedom();

  transform: scale(0.8);
  opacity: 0;

  min-width: 600px;
  min-height: 400px;
  background-color: Color(.1, .7);
  backdrop-filter: $blur-effect;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;

  transition: all cubic-bezier(0, 1, 0, 1) .5s, z-index 0s;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.319);
  outline: 3px solid Color(1, .05);

  * {
    transition: DefaultTransition(.5s);
  }

  &.active {
    transform: none;
    opacity: 1;
  }

  .title {
    background-color: Color(.2, .4);
    @include GridFrame();
    user-select: none;

    .text {
      padding: 5px;
      text-align: center;
      pointer-events: none;
      user-select: none;
      color: Color();
    }

    .btns {
      $width : 70px;
      $offset : 20px;
      $skew: 30deg;

      $c : Color();
      $r : Color(.8);
      $m : Color(.6);

      display: flex;
      align-items: stretch;
      justify-content: flex-end;

      .DropArea {
        flex-grow: 1;
        transform: none;
        opacity: 0;
      }

      >div {
        width: $width;
        transform: skewX($skew) translateX($offset);
        @include GridFrame();
        overflow: hidden;

        >.icon {
          display: flex;
          justify-content: center;
          align-items: center;
          transform: skewX(-$skew);

          >* {
            transform: scale(.8);
          }
        }

        >.bg {
          opacity: .1;
        }

        &:hover {
          filter: saturate(1.2);

          >.bg {
            opacity: .3;
          }
        }
      }

      .cls {
        width: $width + $offset;

        >.icon {
          z-index: 2;
          transform: skewX(-$skew) translateX(calc(-1 * $offset / 2));
          stroke: $c;
        }

        >.bg {
          background-color: $c;
        }
      }

      .res {
        >.icon {
          stroke: $r;
        }

        >.bg {
          background-color: $r;
        }
      }

      .min {
        >.icon {
          stroke: $m;
        }

        >.bg {
          background-color: $m;
        }
      }
    }
  }

  >.content {
    @include GridFrame();
    overflow: hidden;

    &.action {
      pointer-events: none;
    }
  }

  >.altHandle {
    $gtcr : 1fr 5fr 1fr;
    @include FullDiv();
    display: grid;
    grid-template-areas: "nw n ne" "w c e" "sw s se";
    grid-template-columns: $gtcr;
    grid-template-rows: $gtcr;
    z-index: 1000;

    .ne,
    .nw,
    .se,
    .sw {
      aspect-ratio: 1;
      max-width: 300px;
      max-height: 300px;
    }
  }

  >.handle {
    position: absolute;
    background: transparent;
    z-index: 1000;
    user-select: none;

    &.n,
    &.s {
      left: 4px;
      right: 4px;
      height: 6px;
      cursor: ns-resize;
    }

    &.n {
      top: -3px;
    }

    &.s {
      bottom: -3px;
    }

    &.e,
    &.w {
      top: 4px;
      bottom: 4px;
      width: 6px;
      cursor: ew-resize;
    }

    &.e {
      right: -3px;
    }

    &.w {
      left: -3px;
    }

    &.ne,
    &.nw,
    &.se,
    &.sw {
      width: 10px;
      height: 10px;
      z-index: 3;
    }

    &.ne {
      top: -3px;
      right: -3px;
      cursor: nesw-resize;
    }

    &.nw {
      top: -3px;
      left: -3px;
      cursor: nwse-resize;
    }

    &.se {
      bottom: -3px;
      right: -3px;
      cursor: nwse-resize;
    }

    &.sw {
      bottom: -3px;
      left: -3px;
      cursor: nesw-resize;
    }
  }

  &.blurred {
    box-shadow: 0 5 px 20px rgba(0, 0, 0, 0.223);

    .title {
      filter: grayscale(.2) brightness(.9);
    }

    .content {
      filter: grayscale(.2) brightness(.9);
    }
  }

  &.action {
    transition: all DefaultTransition(),
      top 0s,
      left 0s,
      width 0s,
      height 0s,
    ;
    outline: 3px solid Color(1, .3);
    background-color: Color(.08, .5);

    >* {
      opacity: .6;
    }
  }

  &.full {
    transition: cubic-bezier(0, 1, 0, 1) .5s;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0;
    background-color: Color(.08, .8);

  }

  &.close {
    transition: all cubic-bezier(.9, -0.01, .42, .99) .25s;
    transform: scale(0.9);
    opacity: 0;
    pointer-events: none;

    &.action {
      >* {
        opacity: 1;
      }
    }

    .content {
      display: none;
    }
  }

  &.minimize {
    transform: scale(0);
    top: 150% !important;
    left: 0% !important;
    transition: .5s cubic-bezier(.48, .1, 0, 1);

    >* {
      opacity: 0;
    }
  }

  &.nonTransparens {
  // & {
    background-color: Color(.1);
    backdrop-filter: none;

    &.full {
      background-color: Color(.02);
    }

    &.action {
      background-color: Color(.08, .9);
    }
  }
}