@use "/styles/value" as *;

.postSearch {
  .BackgroundMask {
    @include GridFrame();
    pointer-events: none;
    z-index: 1;

    .PaginationControls,
    .TagEditor {

      .InnerFrame {
        background-color: Color(.3, .7);

        * {
          opacity: 0;
        }
      }
    }
  }

  .PaginationControls {
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr auto;
    pointer-events: none;

    .InnerFrame {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      background-color: Color(.2, .1);
      backdrop-filter: $blur-effect-3;
      pointer-events: all;

      button {
        font-size: 20px !important;
        padding: 10px 50px !important;

        *:not(:hover, :active),
        &:not(:hover, :active) {
          background: Color(.01, .5) !important;
        }

        &:disabled {
          opacity: 0 !important;
        }
      }
    }
  }

  .TagEditor {
    z-index: 2;
    pointer-events: none;
    display: grid;
    grid-template-rows: auto 1fr;

    .InnerFrame {
      pointer-events: all;
      overflow: auto;
      backdrop-filter: $blur-effect-3;
      @include GridFrame();
      background-color: Color(.08, .5);

      input {
        background: none;
        outline: none;
        border: none;
        font-size: 25px;
        padding: 10px 50px;
        opacity: .5;

        &:hover,
        &:focus {
          opacity: 1;
        }

        &:focus {
          background-color: Color(.08, .8);
        }
      }
    }
  }

  .List {
    z-index: 1;
    @include GridFrame();
    overflow: hidden;

    .InnerFrame {
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      gap: 10px;
      padding: 60px 0;

      .END {
        text-align: center;
        width: 100%;
        padding: 20px;
      }
    }
  }

  .JumpToPage {
    z-index: 3;
    font-family: hack-nerd-font;
    @include FlexCenter2();
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    background-color: Color(1);
    pointer-events: none;

    &,
    .Inner {
      transition: all .5s cubic-bezier(.48, .04, 0, 1), pointer-events 0s;
    }

    .Inner {
      * {
        transition: 0s linear .5s;
      }

      @include FlexCenter2();
      align-items: stretch;
      gap: 10px;

      * {
        font-size: 40px;
      }

      .Back,
      .Apply {
        display: flex;
        opacity: 0;

        button {
          font-size: 40px;
          background-color: #0000;
          outline: none;
          border: none;
        }
      }

      .Back {
        transform: translateX(50px);
      }

      .Apply {
        transform: translateX(-50px) translateY(-5px);
        justify-content: flex-end;
      }

      .line {
        opacity: 0;
        height: 4px;
        @include GridFrame();

        >div {
          background: linear-gradient(90deg, Color() 60%, Color(1, 0) 0%);
          border-top-left-radius: 10px;
          corner-shape: bevel;
        }

        &.top {
          transform: translateX(50px);
        }

        &.bottom {
          transform: translateX(-50px) rotateZ(180deg);
        }
      }

      .Input {
        display: flex;
        align-items: center;
        gap: 10px;

        input {
          border: none;
          outline: none;
          padding: 5px 10px;
          text-align: center;
          width: 150px;
          background-color: #0000;
          border: 3px solid Color(1, .5);

          &:hover {
            border: 3px solid Color(1, .6);
          }

          &:focus {
            border: 3px solid Color();
          }
        }
      }
    }

    &.show {
      background-color: Color(.1, .8);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      pointer-events: all;

      &,
      .Inner {
        transition: .5s cubic-bezier(0, .5, 0, 1), pointer-events 0s;
      }

      .Inner {
        * {
          transition: cubic-bezier(0, 1, 0, 1) 1s;
        }

        .Back,
        .Apply {
          opacity: 1;
        }

        .Back {
          transform: translateX(-70px);
        }

        .Apply {
          transform: translateX(70px) translateY(-5px);
        }

        .line {
          opacity: 1;

          &.top {
            transform: translateX(-70px);
          }

          &.bottom {
            transform: translateX(70px) rotateZ(180deg);
          }
        }
      }
    }
  }
}