@use "/styles/value" as *;
@use "/styles/init/input.scss" as *;
@use "/styles/init/base.scss" as *;

$edge-clip-size-1: 20px;
$edge-clip-size-2: 10px;
$edge-clip-size-3: 5px;

@mixin clip($clipSize) {
  clip-path: polygon(100% 0, 100% calc(100% - $clipSize), calc(100% - $clipSize)100%, 0 100%, 0 $clipSize, $clipSize 0);
}

#KIASE_APP {

  #ColorControCenter {
    z-index: 90;
  }

  #InputOverlay {
    z-index: 60;
  }

  #Console {
    z-index: 50;
  }

  #Main {
    z-index: 0;
  }

  /* ================================================ */

  #ColorControCenter {
    position: fixed;
    height: auto;
    width: 80%;
    overflow: hidden;
    $owo: DefaultTransition(.5s, .3s);
    transform: translate(-50%, calc(-100% + 10px));
    background-color: Color(.3, .1);
    backdrop-filter: $blur-effect;
    box-shadow: inset 0 -5px 0 Color(1, .5);
    top: 0;
    left: 50%;
    opacity: 0;
    display: grid;
    transition:
      all DefaultTransition(),
      opacity DefaultTransition(.3s, 2.3s),
      box-shadow $owo,
      border-radius $owo,
      transform $owo,
      background-color $owo;

    >.DisableText {
      opacity: 0;
      pointer-events: none;
      @include Freedom();
      top: 50%;
      left: 50%;
      width: 100%;
      font-size: 50px;
      text-align: center;
      z-index: 10;
      font-weight: bold;
      letter-spacing: 5px;
      color: Color();
      text-shadow: 0 0 5px Color();
    }

    >.Frame {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      transform: translateY(100%);
      opacity: 0;
      transition: $owo;

      @mixin ClrUnit($name) {}

      .ColorList {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        >div {
          overflow: auto;
          display: flex;

          .Color,
          .Add {
            $size: 50px;
            min-width: $size;
            min-height: $size;
            max-width: $size;
            max-height: $size;
            border-radius: 5px;
            margin: 5px;
            border: 4px solid Color(.5, .5);

            &:hover {
              transform: scale(1.1);
              filter: brightness(1.1);
            }

            &:active {
              transform: scale(1.15);
              filter: brightness(.9);
            }
          }

          .Add {
            border: 4px solid #0000;
            background-color: Color(.5, .5);
          }
        }
      }

      >.Sec {
        @include InputStyleInit("Color2");
        @include BaseStyleInit("Color2");

        >.ColorList {

          .Color {
            border-color: Color2(.5, .5);
          }

          .Add {
            background-color: Color2(.5, .5);
          }
        }
      }
    }

    &:hover,
    &:active {
      transform: translate(-50%, 0);
      opacity: 1;
      $owo: DefaultTransition(.3s, .5s);
      box-shadow: inset 0 -3px 0 Color(1, .3), 0 -3px 30px Color(.25, .4);
      border-radius: 0 0 10px 10px;
      background-color: Color(.1, .5);
      transition:
        all DefaultTransition(),
        transform $owo,
        border-radius $owo,
        background-color $owo;

      >.Frame {
        transform: none;
        opacity: 1;
        transition: $owo;
      }
    }

    .HexInput {
      margin-top: 10px;
      min-width: 100%;
    }

    .SettingUnit {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 10px;
    }

    &.Disable {
      box-shadow: inset 0 -10px 0 Color(1, .5);

      >.DisableText {
        opacity: 1;
      }

      >.Frame {
        >* {
          filter: blur(10px);
          pointer-events: none;
          opacity: .5;
        }
      }

      &:hover,
      &:active {
        transform: translate(-50%, 0);
        opacity: 1;
        $owo: DefaultTransition(.3s, .5s);
        box-shadow: inset 0 -5px Color(1, .3), 0 -3px 30px Color(.25, .4);
        border-radius: 0 0 10px 10px;
        transition:
          all DefaultTransition(),
          transform $owo,
          border-radius $owo;

        >.Frame {
          transform: none;
          opacity: 1;
          transition: $owo;
        }
      }
    }
  }

  #Main {
    background-color: #000;
    zoom: 100%;

    &.hideCursor {
      * {
        cursor: none !important;
      }
    }
  }

  #InputOverlay {
    @include FullDiv();
    @include GridFrame();
    position: fixed;
    pointer-events: none;

    * {
      color: Color();
    }

    >* {
      pointer-events: none;
    }

    .Input {
      @include GridFrame();

      >.frame {
        @include FlexCenter2();
        background-color: #0000;

        *,
        & {
          pointer-events: none;
        }

        .menu {
          @include GridFrame();
          backdrop-filter: $blur-effect;
          background-color: Color(1, .5);
          clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 0 50%, 0 50%, 0 50%);
          transition: cubic-bezier(.9, 0, .42, .99) .3s;
          padding: 30px;
          max-height: 90vh;
          min-width: 80vw;
          overflow: hidden;

          button {
            opacity: 0;
            transition: cubic-bezier(.9, 0, .42, .99) .3s;
            outline: none;
            border: none;
            background-color: Color(.4, .2);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 15px;
            @include clip($edge-clip-size-2);
            gap: 5px;
            font-size: 25px;

            .name {
              font-size: 30px;
            }

            .info {
              font-size: 20px;
              opacity: .5;
            }

            &:hover {
              transition-duration: .1s;
              background-color: Color(.6, .5);
            }

            &:active {
              transition-duration: 0s;
              background-color: Color(.08, .8);

              >* {
                transition-duration: 0s;
                opacity: .5;
              }
            }
          }
        }

        &.show {
          background-color: Color(.02, .3);

          *,
          & {
            pointer-events: all;
          }

          button {
            opacity: 1;
            transition: DefaultTransition();
          }

          .menu {
            @include clip($edge-clip-size-1);
            transition: DefaultTransition();
            background-color: Color(.05, .5);
          }
        }
      }
    }

    .Select {
      >.frame {
        .menu {
          >.frame {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            overflow: auto;
            gap: 10px;
            padding: 15px;
          }
        }
      }
    }

    .Message {
      >.frame {
        .menu {
          padding: 20px;
          width: auto;
          max-height: 90vh;

          >.frame {
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow: hidden;

            .text {
              font-size: 35px;
              text-align: center;
              padding: 40px 100px;
              overflow: auto;
              mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 0) 100%);
            }

            .button {
              display: flex;
              flex-direction: row-reverse;
              gap: 10px;

              button {
                padding: 15px 100px;
              }
            }
          }
        }
      }
    }
  }

  #Effect {
    @include FullDiv();
    pointer-events: none;

    #Flash {
      @include FullDiv();
      @include GridFrame();

      >div {
        background-color: #fff;
        animation-name: FLASH;
        animation-timing-function: linear;
        animation-duration: .5s;
        animation-fill-mode: forwards;
      }
    }
  }

  #Console {
    @include FullDiv();
    @include GridFrame();
    position: fixed;
    background-color: Color(.05, .5);
    top: 0;
    transform: translate(-50%, -100%);
    height: 40%;
    backdrop-filter: $blur-effect;
    transition: cubic-bezier(.66, .32, .1, .99) .5s;

    >* {
      opacity: 0;
      pointer-events: none;
      font-family: hack-nerd-font-mono;
      white-space: pre;
    }

    &.display {
      transition: cubic-bezier(0, 1, 0, 1) 1s;
      transform: translate(-50%, 0);

      >* {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

/* ================================================ */

@keyframes clickAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.5);
  }

  10% {
    opacity: .8;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes RtCircel {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes Trajectory {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes FLASH {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes notiShow {
  0% {
    transform: translate(-50%, 200%) scale(.8);
  }

  100% {
    @include Freedom();
    opacity: 1;
  }
}

@keyframes notiHide {
  0% {
    @include Freedom();
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -200%) scale(.8);
    opacity: 0;
  }
}