@use "/styles/value" as *;
@use "./styles/styles";

#Frame {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  img,
  image,
  video {
    user-select: none;
  }

  input::placeholder {
    color: Color(1, .5);
  }

  @include FullDiv();
  @include GridFrame();
  overflow: hidden;

  #Desktop,
  #Login {
    background-color: #000;
  }

  #Desktop {
    $dt: cubic-bezier(0, 1, 0, 1) 1s;
    z-index: 1;
    @include GridFrame();
    overflow: hidden;

    .workSpaceMgr {
      z-index: 3;
      display: grid;
      grid-template-columns: 1fr 5fr;
      overflow: hidden;

      &,
      * {
        pointer-events: none;
      }

      .menu {
        transition: $dt;
        background: Color(.3, .5);
        backdrop-filter: $blur-effect;
        transform: translateX(-120%);
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: auto;
        padding: 20px 0;

        &,
        * {
          pointer-events: all;
        }

        .workSpace {
          display: flex;
          flex-direction: column;
          background-color: Color(.5, .2);
          padding: 10px;
          gap: 5px;

          .desktopPreview {
            border: 2px solid Color();
            outline: none;
            padding: 0;
            transition: none;
            overflow: hidden;
            @include GridFrame();

            .indexNumber {
              z-index: 4;
              display: flex;
              justify-content: start;
              align-items: flex-end;
              padding: 10px;
              font-size: 15px;
              text-shadow: 0 0 10px #000;
            }

            .backdrop {
              z-index: 3;
              background: #00000070;
              background: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, .1) 30%);
            }

            .windows {
              z-index: 2;
              @include GridFrame();

              .win {
                .position {
                  transition: none;
                  position: relative;
                  border: 1px solid #000;
                  backdrop-filter: blur(5px);
                }
              }
            }

            .Background {
              z-index: 1;
            }
          }

          .top {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;

            * {
              font-size: 15px;
              color: Color();

              svg {
                fill: Color();
              }
            }

            input {
              background-color: #0000;
              border: none;
              outline: none;
              padding: 5px 10px;

              &:hover,
              &:focus {
                transition: none;
                background-color: Color(.5, .5);
              }
            }

            button {
              @include FlexCenter2();
              border: none;
              outline: none;
              background-color: #0000;

            }
          }

          &.activ {
            background-color: Color(.5, .5);
          }
        }

        .add {
          font-size: 15px;
          border: none;
          background-color: Color(.5, .5);
          color: Color();
          padding: 8px;

          &:hover,
          &:active {
            transition: none;
            background-color: Color();
            color: #000;
          }

          &:active {
            filter: brightness(.7);
          }
        }
      }
    }

    .textArea,
    .mainArea {
      transform-origin: 93% 50%;
    }

    .textArea {
      z-index: 1;
      pointer-events: none;
      transform: scale(.8);
      @include GridFrame();

      .name,
      .note {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        input {
          font-size: 40px;
          opacity: 0;
          color: Color();
          pointer-events: all;
          text-align: center;
          background: none;
          border: none;
          outline: none;
          width: 100%;
          padding: 10px;

          &::placeholder {
            opacity: .5;
          }

          &:hover,
          &:focus {
            transition: none;
            background-color: Color(.5, .3);
          }
        }
      }

      .name {
        align-items: flex-start;
      }
    }

    .mainArea {
      transition: $dt;
      z-index: 2;
      @include GridFrame();
      overflow: hidden;
      box-shadow: 0 20px 50px Color(.08, .5);

      * {
        color: Color();
        user-select: none;
      }

      & {
        button[kiase-style] {
          outline: none;
          border: none;
          background-color: Color(.15);
          gap: 5px;
          font-size: 15px;
          padding: 5px 20px;

          *,
          & {
            color: Color();
          }

          &.actv {
            background-color: Color(.5);
            text-shadow: 0 0 5px Color();

            &:hover {
              text-shadow: 0 0 5px #0008;
            }

            &:active {
              background-color: Color(.4);
              text-shadow: 0 0 5px Color();
            }
          }

          &:disabled {

            &,
            &:hover,
            &:active {
              pointer-events: none !important;
              background-color: Color(.6, .1);

              *,
              & {
                color: Color(1, .5);
              }
            }
          }

          &:hover {
            transition-duration: 0s;
            background-color: Color();

            *,
            & {
              color: #000;
            }
          }

          &:active {
            transition-duration: .3s;
            background-color: Color(.5);

            *,
            & {
              color: Color();
            }

            >* {
              transition-duration: 0s;
              opacity: .5;
            }
          }
        }
      }

      .wsEditor {
        z-index: 500;
        @include GridFrame();
        pointer-events: none;
        opacity: 0;

        .backdrop {
          z-index: 1;
          background: #00000070;
          background: linear-gradient(45deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%);

        }

        .index {
          z-index: 2;
          display: flex;
          justify-content: start;
          align-items: flex-end;
          padding: 40px;
          font-size: 60px;
          text-shadow: 0 0 30px #000;
        }
      }

      .Menu {
        z-index: 100;
        pointer-events: none;
        position: absolute;

        .Buttons {
          pointer-events: all;
          transition: all DefaultTransition(),
            transform 0s,
            top 0s,
            left 0s;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          overflow: hidden;
          @include Freedom();
          top: 0;
          left: 50%;
          display: flex;
          flex-direction: column;
          backdrop-filter: $blur-effect-4;
          background-color: Color(.02, .5);

          button {
            text-align: left;

            *:not(:hover, :active),
            &:not(:hover, :active) {
              background: none !important;
            }

            &:disabled {
              opacity: .5;
            }
          }

          & {
            &.tl {
              transform: translate(0%, 0%);

            }

            &.tc {
              transform: translate(-50%, 0%);

            }

            &.tr {
              transform: translate(-100%, 0%);

            }

            &.cl {
              transform: translate(0%, -50%);

            }

            &.cc {
              transform: translate(-50%, -50%);

            }

            &.cr {
              transform: translate(-100%, -50%);

            }

            &.bl {
              transform: translate(0%, -100%);

            }

            &.bc {
              transform: translate(-50%, -100%);

            }

            &.br {
              transform: translate(-100%, -100%);

            }
          }

        }

        &.hide {
          pointer-events: none;

          .Buttons {
            opacity: 0;

            &.tl,
            &.tc,
            &.tr {
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            }

            &.cl,
            &.cc,
            &.cr {
              clip-path: polygon(0 50%, 100% 50%, 100% 50%, 50%);
            }

            &.bl,
            &.bc,
            &.br {
              clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
            }
          }
        }
      }

      .MainArea {
        z-index: 5;
        @include GridFrame();
        overflow: hidden;


        .Run {
          z-index: 100;
          padding-top: 20vh;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          background-color: Color(.02, .4);

          .input,
          button {
            width: 1000px;
            border: none;
            outline: none;
            background-color: Color(.1);
            font-size: 30px;
            padding: 10px 40px;
            box-shadow: 0 10px 20px Color(.08, .5);
            margin-bottom: 20px;
          }

          .btf-frm {
            transition: cubic-bezier(0, 1, 0, 1) 1s;

            @starting-style {
              transform: translateY(50px);
              opacity: 0;
              filter: blur(10px);
            }
          }

          button {
            text-align-last: left;
            font-size: 25px;
            margin-bottom: 10px;

            &.focus {
              transition: all DefaultTransition(), color 0s, background-color 0s;
              color: #000;
              background-color: Color();
            }

            &[no-res] {
              pointer-events: none;
              text-align-last: center;
              opacity: .5;
            }
          }

          &.hide {
            transform: scale(1.3) translateY(-10px);
            opacity: 0;
            transition: all cubic-bezier(.46, .07, 0, 1) .5s, opacity ease .25s;
            filter: blur(10px);
            background-color: #0000;
            backdrop-filter: none;
            pointer-events: none;
          }
        }

        .SnapPreview {
          z-index: 75;
          pointer-events: none;

          div {
            position: relative;
            background-color: Color(.1, .5);
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            transition-duration: .2s;
            backdrop-filter: $blur-effect-5;
          }
        }

        .Windows {
          z-index: 50;

          >* {
            pointer-events: all;
          }
        }

        .StartMenu {
          overflow: hidden;
          z-index: 1;
          opacity: 0;
          z-index: 1000;
          background-color: Color(.02, .8);
          backdrop-filter: none;
          @include GridFrame();

          & {
            pointer-events: none;
          }

          /* KIASTALA VA NIETOKALE!!!!!!! */
          /* 這KILO語 看不懂正常 我也看不懂 */
          .KIASTALA {
            overflow: hidden;
            z-index: 0;
            @include GridFrame();
            align-content: center;

            *,
            & {
              pointer-events: none;
            }

            .LINIE,
            .CORE,
            .CER {
              @include Freedom();
              position: relative;
              top: 50%;
              left: 50%;
            }

            .LINIE {
              animation: .25s ease-in-out 0s infinite alternate LINIE_FLASH;
              width: 150%;
              height: 20px;
              background: Color();
              filter: blur(30px);
              opacity: .8;
            }

            .CORE {
              animation: .25s ease-in-out 0s infinite alternate CORE_FLASH;
              $s : 280px;
              width: $s;
              height: $s;
              left: 0;
              border-radius: 50%;
              background-color: Color();
              filter: blur(100px);
            }

            .CER {
              $s : 300px;
              width: $s;
              height: $s;
              left: 0;
              @include GridFrame();

              >div {
                animation: 1s linear 0s infinite CER_ROTA;
                @include GridFrame();

                >div {
                  border: 10px solid Color();
                  clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%, 0 50%, 50% 50%);
                  border-radius: 50%;
                }
              }
            }
          }

          .Side {
            z-index: 2;
            display: flex;
            pointer-events: none;

            >div {
              display: flex;
              flex-direction: column;
              align-items: stretch;

              >button {
                @include FlexCenter2();
                aspect-ratio: 1;
                width: 50px;
                border: none;
                outline: none;
                background-color: #0000;

                svg {
                  fill: Color();
                }

                &:hover,
                &:active {
                  background-color: Color();

                  &,
                  * {
                    transition: all 0s, transform DefaultTransition();
                  }

                  svg {
                    fill: #000;
                  }
                }

                &:active {
                  transform: scale(.9);
                  filter: brightness(.8);

                  &,
                  * {
                    transition: none;
                  }
                }
              }
            }
          }

          .Buttons {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: row;
            align-content: center;
            gap: 10px;
            padding: 100px;
            filter: blur(30px);

            >div {
              transform: translateX(200px) scale(.95);
              opacity: 0;
              transition-timing-function: cubic-bezier(.64, .13, 0, 1);

              >button {
                @include GridFrame();
                $size: 150px;
                width: $size;
                height: $size;
                background-color: Color(1, .2);
                border: none;
                outline: none;

                .icon {
                  @include FlexCenter();
                  fill: Color();
                }

                .name {
                  display: flex;
                  align-items: flex-end;
                  justify-content: flex-start;
                  padding: 5px;
                }

                &:hover,
                &:active {
                  background-color: Color();

                  &,
                  * {
                    transition: all 0s, transform DefaultTransition();
                  }

                  .icon {
                    fill: #000;
                  }

                  .name {
                    span {
                      color: #000;
                    }
                  }
                }

                &:active {
                  transform: scale(.9);
                  filter: brightness(.8);

                  &,
                  * {
                    transition: none;
                  }
                }
              }
            }
          }
        }

        .CancelDrag {
          z-index: 1145141919810;

          &,
          * {
            pointer-events: none;
          }

          .main {
            $tf: cubic-bezier(.24, -0.01, .99, .34);
            height: 150px;
            @include GridFrame();

            .bg {
              z-index: 1;
              background: linear-gradient(0deg, Color(.02, 0) 25%, Color(.02, .5) 100%);
              opacity: 0;
            }

            .btn {
              z-index: 2;
              @include FlexCenter2();
              transform: translateY(-100%);
              transition: $tf .3s;

              .area {
                border: 2px solid #0000;
                outline: 2px solid Color(1, 0);
                padding: 6px 0px;
                opacity: 0;

                span {
                  background-color: Color(.3);
                  color: Color();
                  padding: 6px 30px;
                }

                &.activ {
                  border: 5px solid #0000;
                  outline: 2px solid Color(1, .5);
                  transform: scale(1.2);

                  *,
                  & {
                    transition: all 0s, transform DefaultTransition();
                  }

                  span {
                    background-color: Color();
                    color: #000;
                  }
                }
              }
            }

            &.activ {
              .bg {
                opacity: 1;
              }

              .btn {
                transform: translateY(-10%);
                transition: DefaultTransition();

                .area {
                  pointer-events: all;
                  opacity: 1;
                }
              }
            }
          }
        }

        &.startMenu {

          .Windows,
          .StartMenu {
            transition: ease-out .5s;
          }

          .Windows {
            opacity: 0;

            *,
            & {
              pointer-events: none;
            }
          }

          .StartMenu {
            opacity: 1;

            & {
              pointer-events: all;
            }

            .Side {
              >div {
                pointer-events: all;

              }
            }

            .Buttons {
              filter: blur(0);

              >div {
                transition: DefaultTransition();
                transform: none;
                opacity: 1;
              }
            }
          }
        }
      }

      .Buttons {
        display: grid;
        grid-template-rows: 1fr auto;
        overflow: hidden;

        .Bar {
          overflow: hidden;
          z-index: 10;
          zoom: 80%;
          background-color: Color(.02, .7);
          backdrop-filter: $blur-effect;
          display: grid;
          grid-template-columns: auto 1fr auto;
          gap: 5px;

          >div {
            display: flex;
          }

          // .Left {}

          .List {
            overflow: auto;
          }

          .Right {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px;
          }
        }
      }
    }

    >.Background {
      scale: 1.1;
      filter: blur(50px);
      opacity: .1;
    }

    &.hide {
      .mainArea {
        opacity: 0;

        *,
        & {
          pointer-events: none;
          transition: none;
        }

        >.Background {
          transform: scale(1.2);
          opacity: 0;
        }

        >.Buttons {
          >.Bar {
            transform: translateY(100%)
          }
        }
      }

      >.Background {
        @starting-style {
          opacity: 0;
        }
      }
    }

    &.workSpaceEditor {
      $dt: DefaultTransition();

      .workSpaceMgr {
        .menu {
          box-shadow: 0 0 10px 10px Color(.1, .2);
          transform: none;
          transition: $dt;
        }
      }

      .textArea,
      .mainArea {
        transform: scale(.8);
        transition: all $dt , scale cubic-bezier(.53, .22, 0, 1) .2s;
      }

      .textArea {
        .name {
          input {
            translate: 0 -150%;
            opacity: 1;
          }
        }

        .note {
          input {
            translate: 0 130%;
            opacity: 1;
          }
        }
      }

      .mainArea {
        .wsEditor {
          opacity: 1;
        }

        * {
          pointer-events: none !important;
        }

        &:hover {
          scale: 1.01;
        }

        &:active {
          transition: cubic-bezier(0, .84, 0, 1) .5s;
          scale: .99;
          filter: brightness(.9);
        }
      }

      >.Background {
        opacity: .5;
      }
    }
  }

  #Login {
    @include GridFrame(true);
    z-index: 5;
    zoom: 60%;
    overflow: hidden;

    .UserList {
      z-index: 5;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-start;
    overflow: hidden;


      >div {
        transition: cubic-bezier(0, .49, 0, 1) 1s;
        margin: 50px;
        zoom: 90%;
        overflow: auto;

        .User {
          @include GridFrame();
          margin: 6px;
          margin-top: 10px;
          outline: 5px solid #0000;
          border: none;
          padding: 0;
          width: 400px;
          height: 100px;
          background-color: #00000048;
          backdrop-filter: $blur-effect-2;

          .Main {
            display: flex;
            align-items: stretch;
            padding-left: 10px;
            gap: 10px;
            z-index: 2;
            overflow: hidden;

            .avatar {
              margin: 15px;
              aspect-ratio: 1;
              border-radius: 50%;
              backdrop-filter: $blur-effect-2;
              overflow: hidden;

              .Background {
                aspect-ratio: 1;
                overflow: hidden;
              }
            }

            .name {
              @include FlexCenter();

              span {
                font-size: 28px;
              }
            }
          }

          >.Background {
            z-index: 1;
            filter: brightness(.5);
            opacity: .3;
          }

          &:hover {
            * {
              transition: all 0s, transform DefaultTransition();
            }

            .Background {
              filter: brightness(1.2);
            }
          }

          &:active {
            filter: brightness(.8);
            transform: scale(.95);
            transition: none;

            .Background {
              filter: brightness(1);
            }
          }
        }
      }
    }

    .LoginBoard {
      @include GridFrame();
      z-index: 3;

      >div {
        transition: cubic-bezier(0, .49, 0, 1) 1s;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        transition: all cubic-bezier(.47, .19, 0, 1) .8s, opacity 0s;

        $shadow : 0 0 20px #0008;

        &.createAccount {
          gap: 30px;

          h1 {
            font-size: 80px;
            font-weight: normal;
            padding: 5px 0px;
            margin: 0px;
            text-shadow: $shadow, $shadow, $shadow;
          }

          .CLIP {
            height: 20px;
          }

          .input {
            input {
              width: 500px;

              &[type=color] {
                height: 50px;
              }
            }
          }

          .button {
            button {
              width: 500px;
            }
          }
        }

        .avatar {
          transition-delay: 0s;
        }

        .name {
          transition-delay: .1s;
        }

        .input,
        .button {
          transition-delay: .2s;
        }

        .avatar {
          aspect-ratio: 1;
          width: 250px;
          border-radius: 50%;
          backdrop-filter: $blur-effect-2;
          overflow: hidden;

          .Background {
            aspect-ratio: 1;
            overflow: hidden;
          }
        }

        .name {
          font-size: 50px;
          letter-spacing: 3px;
        }

        .input {
          display: flex;
          flex-direction: column;

          span {
            font-size: 30px;
            padding: 10px;
            text-shadow: $shadow, $shadow, $shadow;
          }

          input {
            padding: 10px 20px;
            background-color: #0005;
            outline: none;
            border: none;
            font-size: 30px;
            width: 400px;
            backdrop-filter: $blur-effect-2;

            &::placeholder {
              color: #fff8;
            }
          }
        }

        .button {
          button {
            outline: none;
            border: none;
            font-size: 30px;
            background-color: #fff3;
            padding: 10px 50px;
            backdrop-filter: $blur-effect-2;

            &:hover {
              background-color: #fff;
              color: #000;
              transition: all 0s, transform DefaultTransition();
            }

            &:active {
              background-color: #fff;
              color: #000;
              transition: none;
              transform: scale(.9);
              filter: brightness(.8);

            }
          }
        }

        .status {
          font-size: 20px;
        }

        &.up,
        &.down {
          >* {
            transition-delay: 1s;
            transition-timing-function: cubic-bezier(0, .73, 0, 1);
            transform: translateY(400px);
          }

          transition: cubic-bezier(.47, .19, 0, 1) .8s,
          opacity 0s cubic-bezier(.47, .19, 0, 1) .8s;

          opacity: 0;
          gap: 100px;
        }

        &.up {
          transform: translateY(-100%);
        }

        &.down {
          transform: translateY(100%);
        }

        &.hide {
          transform: translateY(-100%);
        }
      }
    }

    .Backdrop {
      z-index: 2;
      background: radial-gradient(circle, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 1) 100%);
      opacity: .7;

      &.newAccount {
        opacity: .9;
      }
    }

    .Backgrounds {
      transition: cubic-bezier(0, .49, 0, 1) 1s;
      overflow: hidden;
      z-index: 1;
      @include GridFrame();

      >.img {
        @include GridFrame();
        overflow: hidden;

        &.show {
          z-index: 2;
          opacity: 1;
          transform: none;
          transition: cubic-bezier(0, 1, .5, 1) 1s, filter cubic-bezier(0, 1, .5, 1) .5s, opacity ease .4s;
        }

        @mixin def() {
          transition: ease .2s;
          z-index: 1;
          opacity: 0;
          filter: blur(100px);
        }

        &.up {
          @include def();
          transform: scale(1.5) translateY(-30%);
        }

        &.down {
          @include def();
          transform: scale(1.5) translateY(30%);
        }

        &.hide {
          @include def();
          transition: ease .5s;
          transform: scale(2);
        }
      }
    }

    &.hide {
      opacity: 0;

      *,
      & {
        pointer-events: none;
        transition: none;
      }

      .UserList {
        >div {
          transform: translateX(-150%);
        }
      }

      .LoginBoard {

        >div {
          gap: 50px;
        }
      }

      .Backgrounds {
        transform: scale(1.3);
      }
    }
  }

  .Background {
    position: relative;
    overflow: hidden;

    img,
    video {
      transition: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 100%;
      transform-origin: 100% 100%;
      transform: scale(1.1);
    }
  }
}

.WindowFrame {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  >.ButtonList {
    @include GridFrame();
    background: Color(.3, .2);
    overflow: hidden;

    .text {
      display: flex;

      button {
        &:first-child {
          padding-left: 35px !important;
        }

        transform: skewX(-10deg) translateX(-16px);
        background-color: Color(.1, .3) !important;

        &:hover,
        &:active {
          background-color: Color() !important;
        }

        &:active {
          background-color: Color(.5) !important;
        }

        div {
          transform: skewX(10deg);
          pointer-events: none;
        }
      }
    }
  }

  >.MainContent {
    overflow: hidden;
    @include GridFrame();
  }
}

@keyframes LINIE_FLASH {
  from {
    height: 20px;
  }

  to {
    height: 25px;
  }
}

@keyframes CORE_FLASH {
  from {
    $s : 280px;
    width: $s;
    height: $s;
  }

  to {
    $s : 300px;
    width: $s;
    height: $s;
  }
}

@keyframes CER_ROTA {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}