@use "/styles/value" as *;

$size: 64px;
$border-size: 5px;

$scale: .8;
$scale-hover: 1;
$scale-active: .7;

$scale-for-power: .1;


.mainButton {

  &,
  * {
    transition: DefaultTransition();
  }

  * {
    pointer-events: none;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: Color(.1, .2);
    width: $size + 15px;
    height: $size - 5px;
    border-bottom: $border-size solid Color(.5);
  }

  svg {
    transform: scale($scale);
    fill: Color(1);
  }

  &:hover {
    .icon {
      background-color: Color(1, .08);
      border-color: Color();

      svg {
        transform: scale($scale-hover);
        fill: LightColor(.5);
      }
    }
  }

  &:active {
    .icon {
      background-color: Color(.08, .5);
      border-color: Color(.3);

      svg {
        transform: scale($scale-active);
        fill: Color(.5);
      }
    }
  }

  &[status-style="icon"],
  &[status-style="isOpen"] {

    .icon {
      border: none;
      background-color: Color(.5, .3);
    }

    &[status-style="isOpen"] {
      .icon {
        background-color: Color(1);

        svg {
          transform: scale($scale-hover);
          fill: #000;
        }
      }

    }

    &:hover {
      .icon {
        background-color: Color(1);
        border-color: Color();

        *,
        & {
          transition: none;
        }

        svg {
          transform: scale($scale-hover);
          fill: #000;
        }
      }
    }

    &:active {
      .icon {
        background-color: Color(.08, .5);
        border-color: Color(.3);

        svg {
          filter: drop-shadow(0px 0px 0 Color(.1));
          transform: scale($scale-active);
          fill: Color(.5);
        }
      }
    }
  }

  &[status-style="focus"] {
    .icon {
      background-color: Color(.5, .3);

      svg {
        transform: scale(1.05);
      }
    }
  }

  &[status-style="blur"] {
    .icon {
      border-bottom: $border-size solid Color(.3);
    }
  }

  &[status-style="mini"] {
    .icon {
      border-bottom: $border-size solid Color(.1);

      svg {
        transform: scale(.8);
      }
    }
  }
}