@use "/styles/value" as *;

$Scale: 1.3;

#hoverTips2 {
  opacity: 0;
  width: auto !important;
  height: auto !important;
}

#hoverTips {
  text-overflow: clip;
  text-wrap: nowrap;
}

#hoverTips,
#hoverTips2 {
  max-width: 50%;
  position: fixed;
  z-index: 10000000000;
  padding: 5px 10px;
  font-size: 15px;
  transform: translate(20px, -100%) scale($Scale);
  border-radius: 5px;
  backdrop-filter: $blur-effect;
  background: Color(.5, .3);
  pointer-events: none;
  opacity: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
  transition:
    all $transition-duration $transition-timing-function $transition-delay,
    opacity $transition-duration ease-in-out .4s,
    transform 1s cubic-bezier(1, 0, 0, 1) .3s,
    width .3s $transition-timing-function .3s,
    height .3s $transition-timing-function .3s, ;

  .title {
    font-size: 18px;
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    filter: url(#noiseFilter);
    opacity: .15;
    mix-blend-mode: multiply;
  }

  &.show {
    transform: translate(20px, -100%);
    opacity: 1;
    transition:
      all $transition-duration $transition-timing-function $transition-delay,
      opacity 1s cubic-bezier(1, 0, 0, 1) 0s,
      transform 1s cubic-bezier(1, 0, 0, 1) 0s,
      width 1s cubic-bezier(0, 1, 0, 1) 0s,
      height 1s cubic-bezier(0, 1, 0, 1) 0s, ;
  }

  $Translate: translate(calc(-100% - 20px), -100%) "LeftTop",
    translate(20px, -10%) "RightBottom";

  @each $trans ,
  $name in $Translate {
    &.#{$name} {
      transform: #{$trans} scale($Scale);
    }

    &.#{$name}.show {
      transform: #{$trans};
    }
  }

  p {
    margin: 0;
  }
}

#FLASH {
  @include FullDiv();
  @include GridFrame();

  >div {
    background-color: Color();
    animation-name: FLASH;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-fill-mode: forwards;
  }
}

@keyframes FLASH {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {

  #hoverTips,
  #hoverTips2 {
    display: none;
  }
}