@use "/styles/value" as *;

.Card {
  width: 200px;
  height: 250px;
  background: Color(.5);
  overflow: hidden;
  border: none;
  outline: none;
  padding: 0 !important;
  @include GridFrame();
  transform: translateY(50px);
  opacity: 0;

  .previewImage {
    z-index: 1;
    pointer-events: none;
    background: Color(.1);
    @include GridFrame();

    .vid {
      z-index: 1;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .blur {
      z-index: 2;
      backdrop-filter: $blur-effect;
    }

    overflow: hidden;
  }

  .Info {
    z-index: 2;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    overflow: hidden;

    .baseInfo {
      @include GridFrame();
      overflow: hidden;
      backdrop-filter: $blur-effect-5;

      .background,
      .text {
        display: grid;
        grid-template-columns: 1fr auto;
        background: Color(.5);
        overflow: hidden;

        .score {
          z-index: 5;
          display: flex;
          overflow: hidden;

          >div {
            display: flex;
            padding: 2px 5px;
            font-size: 15px;
            transform: skewX(-10deg) translateX(-16px);
            box-shadow: -5px 0 5px 5px Color(.01);

            >div {
              padding: 0 3px;
              transform: skewX(10deg);
            }

            &.up {
              z-index: 10;
              padding-left: 20px;
              background: Color(.08);

              .icon {
                color: color-mix(in oklab, Color() 69.6%, #00ff00 37.8%);
              }

              &.here {
                .icon {
                  color: color-mix(in oklab, Color() 10%, #00ff00 90%);
                }
              }
            }

            &.down {
              z-index: 5;
              background: Color(.2);

              .icon {
                color: color-mix(in oklab, Color() 69.6%, #ff0000 37.8%);
              }

              &.here {
                .icon {
                  color: color-mix(in oklab, Color() 10%, #ff0000 90%);
                }
              }
            }

            &.fav {
              z-index: 0;
              background: Color(.3);

              .icon {
                color: color-mix(in oklab, Color() 40%, #ff8484 50%);
              }
            }
          }
        }

        .rating {
          z-index: 10;
          padding: 0 10px;
          transform: translateY(3px);
        }
      }

      .background {
        opacity: .4;

        *,
        & {
          color: #0000 !important;
        }
      }

      .text {

        *,
        & {
          background: none !important;
          box-shadow: none !important;
        }
      }
    }
  }

  .Action {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

    .button {
      display: flex;
      backdrop-filter: $blur-effect-5;

      button {
        opacity: .5;
        padding: 5px 10px !important;
      }
    }
  }

  &.START {
    transform: none;
    opacity: 1;
  }
}