@use "/styles/value" as *;

.Card {
  width: 200px;
  height: 250px;
  background: Color(.5);
  overflow: hidden;
  border: none;
  outline: none;
  padding: 0 !important;
  @include GridFrame();
  transition: all DefaultTransition(), opacity ease-out .3s;

  .previewImage {
    z-index: 1;
    pointer-events: none;
    background: Color(.2);
    @include GridFrame();

    .vid {
      z-index: 1;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .blur {
      z-index: 2;
      backdrop-filter: $blur-effect;
    }

    overflow: hidden;
  }

  .Info {
    z-index: 2;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    overflow: hidden;

    .baseInfo {
      @include GridFrame();
      overflow: hidden;
      backdrop-filter: $blur-effect-5;

      display: grid;
      grid-template-columns: 1fr auto;
      background: Color(.4, .4);
      overflow: hidden;

      .score {
        z-index: 5;
        display: flex;
        overflow: hidden;

        >div {
          display: flex;
          padding: 2px 5px;
          font-size: 15px;
          transform: skewX(-10deg) translateX(-3px);

          >div {
            padding: 0 3px;
            transform: skewX(10deg);
          }

          &.up {
            z-index: 10;
            background: Color(.08, .4);
          }

          &.down {
            z-index: 5;
            background: Color(.2, .4);
          }

          &.fav {
            z-index: 0;
            background: Color(.3, .4);
          }
        }
      }

      .rating {
        z-index: 10;
        padding: 0 10px;
        transform: translateY(3px);
        text-align: right;
      }
    }
  }

  .Action {
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

    .button {
      display: flex;
      backdrop-filter: $blur-effect-5;

      button {
        opacity: .5;
        padding: 5px 10px !important;
      }
    }
  }

  .Ext {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    pointer-events: none;

    div {
      color: Color();
      padding: 6.5px 10px;
      background-color: Color(.08, .3);
      backdrop-filter: $blur-effect-5;
    }
  }

  @starting-style {
    filter: blur(10px);
    transform: translateY(80px);
    opacity: 0;
  }
}