@use "/styles/value" as *;

.Post {
  display: grid;
  grid-template-columns: 300px 1fr;
  overflow: hidden;

  .Tags {
    @mixin flex() {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    }

    background-color: Color(.01, .5);
    overflow: hidden auto;
    @include flex();
    gap: 15px;

    .list {
      $opacity: .5;
      @include flex();
      transform: translateY(30px);
      opacity: 0;

      .title {
        font-size: 20px;
        padding: 8px 10px;
        background-color: Color(.2, $opacity);
      }

      .tags {
        @include flex();
        background-color: Color(.1, $opacity);

        .tag {
          transform: translateY(50px);
          opacity: 0;
          display: grid;
          grid-template-columns: auto auto 1fr;
          overflow: hidden;
          background-color: Color(.2);

          >* {
            padding: 3px 9px;
          }

          .add {
            z-index: 4;
            background-color: Color(.15, $opacity);
          }

          .not {
            z-index: 3;
            background-color: Color(.2, $opacity);
          }

          .name {
            z-index: 3;
            background-color: Color(.25, $opacity);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          &:hover {
            background-color: Color(.6, $opacity);

            >* {
              &:hover {
                transition: none !important;
                color: #000 !important;
                background-color: Color();
              }
            }
          }
        }
      }
    }

    .Information {
      .info {
        display: grid;
        grid-template-columns: min-content 1fr;

        .Clip {
          height: 10px;
        }

        .key,
        .value {
          opacity: 0;
          padding: 2px 5px;
        }

        .key {
          transform: translateX(-20px);
          text-align: right;
          padding-left: 10px;
        }

        .value {
          transform: translateX(20px);
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 10px;
        }
      }
    }

    .Source {
      .src {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        a {
          opacity: 0;
          transform: translateY(20px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 2px 10px;
        }
      }
    }
  }

  .Preview {
    overflow: auto;
    background-color: Color(.1, .2);
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .Image,
    .Video {
      background-color: Color(.01, .3);
      overflow: hidden;
      min-height: 70%;
      max-height: 70%;

      img,
      video {
        opacity: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .Image {
      @include GridFrame();
    }

    .Action {
      display: flex;
    }

    .Description {
      padding: 10px;

      &,
      * {
        user-select: text !important;
      }
    }
  }

  &.START {
    .Tags {
      .list {
        opacity: 1;
        transform: none;

        .tags {
          .tag {
            transform: none;
            opacity: 1;
          }
        }
      }

      .Source {
        .src {
          a {
            transform: none;
            opacity: 1;
          }
        }
      }

      .Information {
        .info {

          .key,
          .value {
            opacity: 1;
            transform: none;
          }
        }
      }
    }

    .Preview {
      .Image,
      .Video {

        img,
        video {
          opacity: 1;
        }
      }
    }
  }
}