@use "./init/index.scss";
@use "./value.scss" as *;

:root {
  --theme-color-r: 255;
  --theme-color-g: 255;
  --theme-color-b: 255;

  --theme-color2-r: 255;
  --theme-color2-g: 255;
  --theme-color2-b: 255;

  --blur-effect: 30px;
  --blur-effect-2: 20px;
  --blur-effect-3: 15px;
  --blur-effect-4: 10px;
  --blur-effect-5: 5px;
}


html,
body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: #000;
  transition: none;
  overflow-x: hidden;
}

button {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  color: white;
  box-sizing: border-box;
  transition: DefaultTransition();
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}